@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=VT323&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;


}


#cuerpo {
    background-image:linear-gradient(rgba(1, 7, 17, 0.993),rgba(1, 7, 17, 0.993)),url(https://media.discordapp.net/attachments/496044498401361920/928464815863787570/noise.png);
    background-size: cover;
}

#titulochafa{
    display: flex;
    align-items: center;
    justify-content: center;

}

#ciber {
    text-align: center;
    color: rgb(163, 164, 223);
    font-family: VT323;
    font-size: 70px;
    border-radius: 8px;

}

#inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 65) ;
    gap: 50px;
    padding: 5px;
}

#inicio {
    display: flex;
    background-color:rgb(30, 30, 65) ;
    padding: 20px;
    justify-content: center;
    font-family: VT323;
    font-size: 20px;
    text-align: center;
    color: rgb(163, 164, 223);
    width: 150px;
    

}



#inicial :hover {
    background-color:rgb(27, 27, 56) ;

}

#texto {
    font-family: VT323;
    color: rgb(163, 164, 223);
    text-align: center;
    font-size: 20px;
}

#texto-footer {
    font-family: VT323;
    color: rgb(163, 164, 223);
    text-align: center;
    font-size: 20px;
}

#ventanilla {
    background-color: rgba(3, 3, 10, 0.315);
    border-radius: 8px;
    padding: 50px;
}

a {
    display: flex;
    text-decoration: none;
    color: rgb(163, 164, 223);;
    text-align: center;
    justify-content: center;
}
#boton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#discord {
    display: inline-block;
    background-color:rgb(30, 30, 65) ;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: VT323;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    color: rgb(163, 164, 223);;
    width: 15%;

}


/*Juegos*/

#titulos {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center;
    
}

#juego {
    font-family: VT323;
    color: rgb(163, 164, 223);
    text-align: center;
    font-size: 20px;

}

#juegolucky :hover {
    font-family: VT323;
    color: rgb(106, 106, 148);
    text-align: center;
    font-size: 20.5px;

}

#juegolucky {

    font-family: VT323;
    color: rgb(163, 164, 223);
    text-align: center;
    font-size: 20px;

}

#juego :hover {
    font-family: VT323;
    color: rgb(106, 106, 148);
    text-align: center;
    font-size: 20.5px;

}

#imagee {
    width: 550px;
    height: 320px;
    border-radius: 15px;
}

/*Imagen promocional*/

#portrait {

    display: flex;
    align-items: center;
    justify-content: center;

}


#image-portrait {
    filter: blur(2.5px);
    filter: opacity(0.1) drop-shadow(0 0 0 rgba(6, 1, 17, 0.993));
    
}

#logo-portrait {

    height: 120px;
    width: 120px;
    border-radius: 10px;


}

/* responsive */ 

@media(max-width:991px){

    #image-portrait {
        height: 200px;
        width: 330px;
    }

    #imagee {
        height: 200px;
        width: 300px;
    }
}

