@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=VT323&display=swap');

#cuerpo {
    background-image:linear-gradient(rgba(6, 1, 17, 0.993),rgba(6, 1, 17, 0.993)),url(https://media.discordapp.net/attachments/496044498401361920/928464815863787570/noise.png);
    background-size: cover;
}

#titulochafa{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

}

#ciber {
    text-align: center;
    color: rgb(174, 163, 223);
    font-family: VT323;
    font-size: 70px;
    border-radius: 8px;

}

#inicial {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#inicio {
    display: inline-block;
    background-color:rgb(23, 23, 48) ;
    padding: 20px;
    font-family: VT323;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    color: rgb(23, 23, 48);
    width: 20%;
    

}

#texto {
    font-family: VT323;
    color: rgb(197, 197, 231);
    text-align: center;
    font-size: 25px;
}

#ventanilla {
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 8px;
    padding: 50px;
}

a {
    text-decoration: none;
}
#boton {
    display: flex;
    align-items: center;
    justify-content: center;
}
#discord {
    display: inline-block;
    background-color:rgb(23, 23, 48) ;
    padding: 15px;
    font-family: VT323;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    color: rgb(23, 23, 48);
    width: 15%;

}